@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Linq
@using Advertising_Billboards.Models
@model Advertising_Billboards.ModelsView.UsersDevicesModelView
@{
    ViewData["Title"] = "Devices";
    Layout = "~/Views/Administrator/_Layout.cshtml";
}
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Devices</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />

</head>
<body>
    <form class="form-inline m-4" method="post" asp-controller="Administrator" asp-action="AddDevice">
        <div class="input-group mb-4">
            <button type="submit" class="btn btn-primary">Add Device</button>
            <select class="custom-select" name="id" required>
                <option selected value="">Choose user</option>
                @for (var i = 0; i < @Model.Users.Count(); ++i)
                {
                    <option value="@Model.Users.ElementAt(i).Id">
                        @Model.Users.ElementAt(i).UserName
                    </option>
                }
            </select>
            <input type="number" name="memory" placeholder="Enter amount of memory">
        </div>
    </form>

    <div style="margin: 2% 8%;">
        <h2>Devices: </h2>
        <table class="table ">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">User</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            @for (int i = 0; i < Model.Devices.Count(); ++i)
            {

                <tbody>
                    <tr>
                        <th scope="row">"@(i + 1)</th>


                        <td>@Model.Devices.ElementAt(i).User.UserName</td>



                        <td class="btn-group-toggle row float-right">
                            <a class="btn btn-secondary mr-3" asp-action="Advertising" asp-route-deviceId="@Model.Devices.ElementAt(i).Id">View advertising</a>
                            <form method="post" asp-action="DeleteDevice" asp-route-id="@Model.Devices.ElementAt(i).Id">
                                <button type="submit" class="btn btn-danger mr-3">Delete</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            }

        </table>
    </div>
</body>

